h2{
	font-size: 24px;
    padding-bottom: 15px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}

h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}

.card{
    border:1px ;
    background: #fff;
    padding: 60px 30px 80px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
p{
    font-family: Open Sans, sans-serif;
}