<br>
<footer class="footer"> 
    <div class="container">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Get in touch with us</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

      <hr>
      

      <div class="row">
          <div class="col-md-6">
              <a href="#"><p >AboutUs</p></a>
              <a href="#"><p  >Terms & Policy</p></a>
              <a href="#"><p >Help</p></a>
          </div>
          <div class="col-md-6 text-right">
            <a href="#"><p >ContactUs</p></a>
            <br><br>
            <p>BOOKMETUTOR <br>
        </p>
          </div>
      </div>
      </div>
    </footer>  
     
   