.big-text{
    font-size: 35px;
}
.banner{
	background: url('src\assets\img\banner.jpg') no-repeat center ;
    background-size: 80%;
	min-height: 300px;
	position: relative;
	
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 30px;
	color: #fff;
	margin-top:100px;
}
a:hover, a:focus{
	border: 2px solid #5FCF80;
	background-color: #fff;
	color: #5FCF80 !important;
}

