<div class="banner">
    <div class="container-fluid padding">
    <div class="row">
        <div class="intro-para text-center">
        <p class="big-text">Want to become a Tutor?</p><br>
        <a href="#Signupform " (click)="showSignupModal()" class="btn btn-success btn-lg " role="button">SignUp</a>
        </div>
        </div>
    </div>
</div>
   
<!-------Registration Modal-->
<div  bsModal #signupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-signup" role="document">
    <div class="modal-content">
        			
      <form role="form" action="" method="post" class="registration-form">

      <div class="modal-header text-center">
        <h3 class="modal-title" id="modal-register-label"> Tutor Sign up </h3>
         <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="hideSignupModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        
                <div class="form-group">
                  <label class="sr-only" for="form-first-name">First name</label>
                    <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id=" tutor first-name">
                  </div>

                  <div class="form-group">
                    <label class="sr-only" for="Username">Last Name</label>
                    <input type="text" id=" tutor last-name"
                    class="form-control"
                    placeholder="Last name"
                    required ="required">
                    
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="Userqualification">Qualification</label>
                      <input type="text" 
                      class="form-control"
                      placeholder=" Enter your Highest Qualification"
                      required ="required"
                      id=" tutor qualification">
                      
                    </div>
                    <div class="checkbox">
                      <label for="subjects" class="checkbox"><b>Subjects you can teach </b></label>
                      <label class="checkbox-inline"><input type="checkbox" value="Physics">Physics</label>
                     <label class="checkbox-inline"><input type="checkbox" value="Chemistry">Chemistry</label>
                     <label class="checkbox-inline"><input type="checkbox" value="Mathematics">Mathematics</label>
                     <label class="checkbox-inline"><input type="checkbox" value="Biology">Biology</label>
                     
                    </div>
                      
                    <div class="checkbox">
                     
                      
                     <label class="checkbox-inline"><input type="checkbox" value="Computer Science">Computer Science</label>
                    </div>

                    <div class="form-group">
                      <label  class="sr-only" for="Usergender">Gender</label>
                      <input type="text" id=" tutor gender"
                      class="form-control"
                      placeholder="Gender-Male/Female/others"
                      required ="required"
                      maxlength="6">
                    </div>
                    <div class="form-group">
                      <label  class="sr-only" for="Userid">UserId</label>
                      <input type="text" id=" tutor userid"
                      class="form-control"
                      placeholder="UserId"
                      required ="required"
                      maxlength="20">
                    </div>
                  <div class="form-group">
                    <label  class="sr-only" for="loginPassword1">Password &nbsp;</label>
                    <input type="password" id=" tutor password"
                    class="form-control"
                     placeholder="Password"
                     required ="required">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="Useraddress">Address</label>
                      <textarea type="textarea" id=" tutor address"
                      class="form-control"
                      placeholder="Address"
                      required ="required"
                      rows="3"></textarea>
                    </div>
                    
                    <div class="form-group">
                      <label class="sr-only" for="Useremail">Email</label>
                       <input type="email" class="form-control" id=" tutor email" placeholder="name@example.com"  required ="required">
                 </div>

                 <div class="form-group">
                  <label class="sr-only" for="contact-no">Contact No</label>
                   <input type="email" class="form-control" id=" tutor contact-no" placeholder="9005647850"  required ="required">
             </div>
      
    </div>
             <div class="modal-footer justify-content-center">
               <button type="submit" class="btn btn-success">Sign-Up</button>
               <button type="reset" class="btn btn-primary pull-right">Reset</button>
                   </div>
    </form>
    </div>
    </div>
    </div>

    <!-------/Registration Modal-->
