<br><br><br><br>
<h3><b>My Profile</b></h3><br>
<div class="container">
   <b>Name:</b> <p> {{this.userdetails.first_name}} {{this.userdetails.last_name}}</p> <br>
   <b>Email:</b>  <p> {{this.userdetails.email}}</p> <br>
   <b>Gender: </b> <p> {{this.userdetails.gender}}</p> <br>
   <b> Phone No:</b> <p> {{this.userdetails.phones}}</p><br>
   <b>Address:</b>  <p> {{this.userdetails.addressResponses.line1}} {{this.userdetails.addressResponses.line2}} {{this.userdetails.addressResponses.city}} {{this.userdetails.addressResponses.pincode}}</p>

</div>