<br><br><br><br><br>

<div class="container">
    <form  [formGroup] = "reset">
    <mat-label><h4>Reschedule Booking</h4></mat-label>
    <mat-form-field ><input matInput placeholder="comment" required formControlName="comment" > </mat-form-field>
       <mat-form-field ><input matInput placeholder="score out of 5" formControlName="score"></mat-form-field>
       <br>
     
      
        <mat-label><h4>Select Date</h4></mat-label><br>
          <div class="row">
         <mat-radio-group aria-label="Select an option" formControlName="new_date" >
           <mat-radio-button value={{this.selectDate1}}>{{date1|date:'dd MMM,yyy'}}</mat-radio-button>
            <mat-radio-button value={{this.selectDate2}}>{{date2|date:'dd MMM,yyy'}}</mat-radio-button>
           <mat-radio-button value={{this.selectDate3}}>{{date3|date:'dd MMM,yyy'}}</mat-radio-button>
         </mat-radio-group>
        <p *ngIf="reset.get('new_date').invalid">Please choose a date</p>
       </div>
       
       <button type="button" class="btn btn-primary ">Reschedule</button>
       </form>

    </div>
