
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
       <a class="navbar-brand" href="index.html">BookMe<span>Tutor</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#feature">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
        <li class="btn-trial"><a href="#" data-target="#login" data-toggle="modal">Login</a></li>
        <li class="btn-trial"><a href="#" data-target="#signup" data-toggle="modal">Sign in</a></li>
        
      
      </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar-->
