
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <img src="/assets/img/teacher.png">
       <a class="navbar-brand" href="index.html">BookMe<span>Tutor</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="btn-trial"><a href="#Loginform" (click)="showLoginModal()">My Bookings</a></li>
        <li class="btn-trial"><a href="#Loginform" (click)="showLoginModal()">Profile</a></li>
        <li class="btn-trial"><a routerLink="" (click)="showSignupModal()">Logout</a></li>
      
      </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar-->