
<br><br>
<br><h4 class="heading">Book Your Session</h4>
<mat-horizontal-stepper linear #stepper>
  
  <mat-step [stepControl]="Step1">
    <form  [formGroup]="Step1">
      <ng-template matStepLabel>step 1</ng-template>
       <div>
      <mat-form-field>
        <mat-label> Select Board</mat-label>
        <mat-select formControlName="board" required >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let options of board" [value]="options.value">
            {{options.display}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
     
      <div>
        <mat-form-field>
          <mat-label> Select Class</mat-label>
          <mat-select formControlName="class" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let options of class" [value]="options.value">
              {{options.display}}
            </mat-option>
          </mat-select>
         </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label> Select Subject</mat-label>
          <mat-select formControlName="subject" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let options of subject" [value]="options.value">
              {{options.display}}
            </mat-option>
          </mat-select>
       </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label> Select Location</mat-label>
          <mat-select formControlName="location" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let options of location" [value]="options.value">
              {{options.display}}
            </mat-option>
          </mat-select>
         </mat-form-field>
      </div>
          <div>
           <button mat-button matStepperNext (click)=getTopics() >Next</button>
         </div>
    </form>
</mat-step>

  <!---Step2-->
  <mat-step [stepControl] = "Step2">
    <form [formGroup] = "Step2">
       <ng-template matStepLabel>step 2</ng-template>
       <mat-form-field>
        <mat-label> Select Topics</mat-label>
        <mat-select formControlName="topic" multiple (selectionChange)="changed()" >
          <mat-option *ngFor="let options of checktopic" value={{options}} >{{options}}</mat-option>
        </mat-select>
      </mat-form-field><h6>You can select any two topics</h6>
    
       <div>
         <button mat-button matStepperPrevious>Back</button>
         <button mat-button matStepperNext >Next</button>
       </div>
    </form>
 </mat-step>

<!---Step3-->
 <mat-step [stepControl]="Step3">
  <form  [formGroup] = "Step3">
     <ng-template matStepLabel>step 3 </ng-template>
     <mat-label><h4>Select Date</h4></mat-label><br>
       <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="date" >
        <mat-radio-button value={{this.selectDate1}}>{{date1|date:'dd MMM,yyy'}}</mat-radio-button>
         <mat-radio-button value={{this.selectDate2}}>{{date2|date:'dd MMM,yyy'}}</mat-radio-button>
        <mat-radio-button value={{this.selectDate3}}>{{date3|date:'dd MMM,yyy'}}</mat-radio-button>
      </mat-radio-group>
     <p *ngIf="Step3.get('date').invalid">Please choose a date</p>
    </div>
    <br>

    <mat-label><h4>Select Time</h4></mat-label><br>
    <mat-radio-group formControlName="time">
    <mat-radio-button *ngFor="let options of times" [value]="options.value">{{options.display}}</mat-radio-button>
    </mat-radio-group>
     
    <p *ngIf="Step3.get('time').invalid">Please choose a time</p>
    <br><br>
  
    <mat-label><h4>Booking Address</h4></mat-label>
    <mat-form-field ><input matInput placeholder="Line1" required formControlName="line1" > </mat-form-field>
       <mat-form-field ><input matInput placeholder="Line2" formControlName="line2"></mat-form-field>
      <mat-form-field > <input matInput placeholder="City" required formControlName="city"></mat-form-field>
      <mat-form-field > <input matInput placeholder="Pincode" required formControlName="pincode"></mat-form-field>
      
<br>
       <div>
       <button mat-button matStepperPrevious>Back</button>
       <button mat-button matStepperNext (click)="saveDetails()">Next</button>
     </div>
  </form>
</mat-step>
     
    
    <!---Step4-->
<mat-step [stepControl]="Step4">
  <form [formGroup] = "Step4">
  <ng-template matStepLabel>step 4 </ng-template>
     <div class="row" *ngIf="!formSubmitted" >
       <div class="row">
         <div class="col-md-6">
      <mat-label><h4>Select Payment Method</h4></mat-label><br>
     <mat-radio-group  formControlName="method">
     <div><mat-radio-button value="Debit Card">Debit-Card</mat-radio-button></div>
     <div><mat-radio-button value="Google Pay">Google Pay</mat-radio-button></div>
     <div><mat-radio-button value="Phone Pay">Phone Pay</mat-radio-button></div>
      </mat-radio-group>
     <div> <p *ngIf="Step4.get('method').invalid" >Please choose a payment method</p></div>
     <div>
       <button mat-button matStepperPrevious>Back</button>
       <button mat-button matStepperNext (click)="Submit()">Submit</button>
     </div>
     </div>
     <div class="col-md-6">
       <table class="table table-bordered table-hover ">
         <thead>
           <th class="text-center"><h4>Your Booking Details</h4></th>
           <th></th>
        </thead>
         <tbody class="text-center ">
          <tr>
            <td><b>Board:</b></td>
            <td>{{this.booking.board}}</td></tr> 
           <tr>
             <td><b>Class:</b></td>
             <td>{{this.booking.classNumber}}</td> </tr>
          <tr>
            <td><b>Subject:</b></td>
           <td>{{this.booking.subject}}</td> </tr> 
          <tr>
            <td><b>Topics:</b></td>
            <td>{{this.booking.topic}}</td></tr>
         <tr>
           <td><b>Date:</b></td>
           <td>{{this.date}}</td> </tr> 
          <tr>
            <td><b>Time:</b></td>
            <td>{{this.time}}</td></tr>
            <tr>
              <td><b>Address:</b></td>
              <td>{{this.address}}
                </td></tr>
         <tr>
              <td><b>Total Amount:</b></td>
              <td> Rs {{this.booking.amount}}</td></tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>
  </form>
    
    
     <div *ngIf="formSubmitted">
      <h2>Booking Placed <i class="fa fa-check-circle" aria-hidden="true"></i></h2><br>
      <h5>we will find a tutor prior to 120 minutes of your Booking Time.</h5><br>
      <h4 class="color">Thank You for trying BOOKMETUTOR.</h4><br>
   <a routerLink="/userpage"><button class="btn btn-primary" (click)="go()" >Book Another Session</button></a>
   
       </div>
</mat-step>
</mat-horizontal-stepper>

<app-jumboltron1></app-jumboltron1>





      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
     




